.input-group-h.w-100.mb-3
    .m-auto.input-group-h
        label.form-label(for="team-select") Select a team:&nbsp;
        select#team-select
            option(value="") [Create New]
            each team in user.teams
                option(value=`${team._id}` selected=team._id.toString()===selectedTeam)= team.name
.accordion#team-accordion.w-100
    .accordion-item 
        h2.accordion-header#team-info-header
            button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#team-info" aria-expanded="true" aria-controls="team-info") Team Info
        #team-info.accordion-collapse.collapse.show(aria-labelled-by="team-info-header" data-bs-parent="#team-accordion")
            form#team-form.my-3.w-100(autocomplete="off")
                .input-group-h.w-100.mb-3
                    .input-group-f.input-group-3
                        label.form-label(for="team-name") Team name:
                        .input-group
                            input#team-name.form-control(type="text" name="name" placeholder="Team Name" data-field="name" required)
                .input-group-f.mb-3
                    label.form-label(for="division") Division: 
                    select#division
                        option(value="Men") Men
                        option(value="Women") Women 
                        option(value="Mixed") Mixed
                .input-group-f
                    label.form-label Colors:
                .input-group-h.w-100.mb-2
                    .input-group-f.input-group-1.ai-c
                        label.form-label(for="color-1") Light:
                        input#color-1(type="color" value="#ffffff" data-field="color1")
                    .input-group-f.input-group-1.ai-c
                        label.form-label(for="color-2") Light #s:
                        input#color-2(type="color" value="#000000" data-field="color2")
                    .input-group-f.input-group-1.ai-c
                        label.form-label(for="color-3") Dark:
                        input#color-3(type="color" value="#000000" data-field="color3")
                    .input-group-f.input-group-1.ai-c
                        label.form-label(for="color-4") Dark #s:
                        input#color-4(type="color" value="#ffffff" data-field="color4")
                .input-group-h.w-100.f-sb
                    .jersey-container
                        .jersey-preview#preview-1(style="color:#000000;background-color:#ffffff")
                            .jersey-name#name-light 
                            .jersey-number#number-light
                    .jersey-container
                        .jersey-preview#preview-2(style="color:#ffffff;background-color:#000000")
                            .jersey-name#name-dark
                            .jersey-number#number-dark
    .accordion-item 
        h2.accordion-header#team-roster-header
            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#team-roster" aria-expanded="false" aria-controls="team-roster") Roster
        #team-roster.accordion-collapse.collapse(aria-labelled-by="team-roster-header" data-bs-parent="#team-accordion")
            form#roster-form.my-3(autocomplete="off")
                .input-group-f 
                    label.form-label Roster (#[span#roster-size 0]/#[span#roster-limit= rosterLimit]&nbsp;used)
                .input-group-h.w-100.mb-3
                    .input-group-f.input-group-1
                        label.form-label(for="first-name") First name:
                        .input-group
                            input#first-name.form-control(type="text" placeholder="First Name" required)
                    .input-group-f.input-group-1
                        label.form-label(for="last-name") Last name:
                        .input-group
                            input#last-name.form-control(type="text" placeholder="Last Name" required)
                .input-group-h.w-100.mb-3
                    .input-group-f.input-group-3
                        label.form-label(for="display-name") Display name:
                        .input-group
                            input#display-name.form-control(type="text" placeholder="Display Name")
                    .input-group-f.input-group-1
                        label.form-label(for="number") Number:
                        .input-group
                            input#number.form-control(type="text" placeholder="##" size="2" pattern="[0-9]{1,2}" maxlength="2")
                .input-group-h.w-100.mb-3
                    #gender-match.input-group-f.input-group-1.invisible-div
                        label.form-label Gender match:
                        .input-group
                            input#gen-m.me-2(type="radio" name="gender-match" value="M" checked) 
                            label.me-2(for='gen-m') Male
                        .input-group
                            input#gen-f.me-2(type="radio" name="gender-match" value="F")
                            label(for='gen-f') Female
                    .input-group-f.input-group-1
                        label.form-label(for="line") Primary Line:
                        .input-group
                            input#line-d.me-2(type="radio" name="line" value="D") 
                            label.me-2(for='line-d') Defense
                        .input-group
                            input#line-o.me-2(type="radio" name="line" value="O")
                            label(for='line-o') Offense
                    .input-group-f.input-group-1
                        label.form-label(for="position") Position:
                        .input-group
                            select#position
                                option(value="-") None
                                option(value="H") Handler
                                option(value="C") Cutter 
                                option(value="Hy") Hybrid
                .d-grid.gap-2.mb-3  
                    button.btn.btn-primary(type="submit") Add Player
            .table-container
                table#main-roster-table.roster-table.mb-3
                    thead 
                        tr#main-roster-header.roster-header
                            th.sort-header.active-sort.sort-asc(data-attr="number") #
                            th.sort-header(data-attr="name") Name 
                            th.sort-header.gen-cell(data-attr="gender") Gen 
                            th.sort-header(data-attr="line") Ln 
                            th.sort-header(data-attr="position") Pos 
                            th ✏️
                            th ❌
                    tbody#main-roster-list.roster-list
                        tr.filler-row
                            td(colspan="7") Add players to your roster above.
    #manager-item.accordion-item.invisible-div
        h2.accordion-header#manager-area-header
            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#manager-area" aria-expanded="false" aria-controls="manager-area") Managers
        #manager-area.accordion-collapse.collapse(aria-labelled-by="manager-area-header" data-bs-parent="#team-accordion")
            .my-3
                .input-group-f 
                    label.form-label Team Managers
                .table-container.overflow-hidden
                    table#manager-table.mb-3 
                        thead 
                            tr
                                th Name 
                                th Action
                        tbody#manager-list
                .input-group.mb-3
                    label.form-label Add manager (e-mail): 
                    .input-group 
                        input#new-manager-email.form-control(type="email" placeholder="E-mail")
                .d-grid.gap-2.mb-3 
                    button#add-manager.btn.btn-primary(type="button" disabled) Request Add Manager
    #subscription-item.accordion-item.invisible-div
        h2.accordion-header#subscription-header
            button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#subscription-info" aria-expanded="false" aria-controls="subscription-info") Subscription
        #subscription-info.accordion-collapse.collapse(aria-labelled-by="subscription-header" data-bs-parent="#team-accordion")
            form#membership-form.my-3.w-100
                .input-group-h.w-100.mb-2
                    .input-group-f.input-group-1
                        .form-label Current membership: 
                        div(style="text-align:left") #[span#current-membership Free] #[a#cancel-membership-link.invisible-div (Modify)]
                    .input-group-f.input-group-1
                        #mem-end.form-label Renews: 
                        div(style="text-align:left") #[span#current-membership-expires Never]
                    .input-group-f.input-group-1 
                        .form-label Managed by: 
                        div(style="text-align:left") #[span#current-manager So-and-so]
                #upgrade-membership.input-group-f.w-100.mb-2
                    #mem-features.w-100.collapse
                        table.feature-table.m-2
                            thead 
                                th Membership Feature 
                                th Free
                                each m in memberships
                                    th= m.name  
                            tbody 
                                tr 
                                    td O/D lines 
                                    td ✓
                                    each m in memberships 
                                        td ✓
                                tr 
                                    td Points played
                                    td ✓
                                    each m in memberships 
                                        td ✓
                                tr 
                                    td Goals and Assists
                                    td ✓
                                    each m in memberships 
                                        td ✓
                                tr 
                                    td Turns and Blocks
                                    td ✓
                                    each m in memberships 
                                        td ✓
                                tr 
                                    td Total Touches
                                    td ✓
                                    each m in memberships 
                                        td ✓
                                
                                tr 
                                    td Passing and Receiving Yards
                                    td
                                    each m in memberships 
                                        td= `${m.yards ? '✓' : ''}`
                                tr 
                                    td Plus/Minus
                                    td
                                    each m in memberships 
                                        td= `${m.plusMinus ? '✓' : ''}`
                                tr 
                                    td Offensive/Defensive Efficiency
                                    td
                                    each m in memberships 
                                        td= `${m.efficiency ? '✓' : ''}`
                                tr 
                                    td Graphical Reports and Visual Statistics
                                    td
                                    each m in memberships 
                                        td= `${m.heatmaps ? '✓' : ''}`
                                tr
                                    td Maximum preset lines 
                                    td 0
                                    each m in memberships
                                        td= m.maxLines 
                                tr
                                    td Cost 
                                    td Free
                                    each m in memberships
                                        td= `${m.cost === 0 ? 'Free' : '$' + m.cost + '/yr'}` 
                                tr 
                                    td After first year w/auto-renew
                                    td Free
                                    each m in memberships
                                        td= `${m.cost === 0 ? 'Free' : '$' + (m.cost*0.9).toFixed(0) + '/yr'}`
                    button#feature-toggle.btn.btn-primary.btn-sm.w-25.mb-3(type="button" data-bs-toggle="collapse" data-bs-target="#mem-features" aria-expanded="false" aria-controls="mem-features") View features
                    #membership-area.input-group-f.input-group-1
                        .form-label.mb-2 Upgrade/extend membership:
                        .input-group-h.w-100.mb-2
                            #select-mem-type.selection-container.input-group-f.justify-content-end
                                .form-label Membership Type 
                                .radio-container.input-group-h
                                    - let i = 0;
                                    each product in productList
                                        input(id=`${product.id}` type="radio" name="mem-type" value=`${product.id}` data-name=`${product.name}` data-price=`${product.priceData.unit_amount}` checked=i===productList.length-1)
                                        label(for=`${product.id}`)= product.name 
                                        - i++;
                        table 
                            tr
                                td.w-50
                                    .form-label Today's total cost #[a(data-bs-toggle="tooltip" data-bs-title="If you are upgrading an existing paid membership (e.g. Basic to Plus), the cost will be prorated based on how much time is left until your next renewal.") #[img(src="/img/info.svg")]]: 
                                td.w-50
                                    .form-label $#[span#total-cost 0.00]
                            tr#renew-row
                                td 
                                    #renew-price.form-label Renewal cost: 
                                td 
                                    #renewal-cost.form-label $0.00/year until cancelled
                        button#checkout.btn.btn-primary(type="submit") Checkout
                                    

.w-100.d-grid.gap-2.my-3
    button.btn.btn-primary(type="submit" form="team-form") Save Team
    